.cast-card{
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-bottom: 10px;
    }

    &__info{
        text-align: center;
        color: #fff;
        
        &--name{
            font-weight: bold;
            
        }
        &--subName{
            font-size: 14px;
            opacity: 0.4;
        }
    }

    }
